{
  "release_date": "1658399640",
  "type": "patch-release",
  "changelogs": [
    {{#each this}}
    {
      "component": "{{GHPr.entries.component}}",
      "type": "{{GHPr.entries.type}}",
      "short_description": "{{GHPr.entries.short_changelog}}",
      "long_description": "{{GHPr.entries.long_changelog}}"
    },
    {{/each}}
  ]
}